.chat-input-container {
  display: grid;
}

.chat-input-container textarea {
  flex: 1;
  resize: none;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #1f201f;
  background-color: #191919;
  color: #fff;

  outline: none;
  transition: border-color 0.3s ease;
  font-family: "Poppins", serif;
  font-size: 14px;
}

.light-mode .chat-input-container textarea{
  background-color: #000;
}
.chat-input-container textarea:focus {
  border-color: #373636;
  box-shadow: 0 0 4px rgba(71, 70, 70, 100);
}

.chat-input-container button {
  padding: 8px 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.chat-input-1{
  flex: 1;
  resize: none;
  padding: 8px;
  border-radius: 4px;
  /* border: 1px solid #1f201f; */
  gap: 20px;
  color: #fff;
  display: flex;
  outline: none;
  transition: border-color 0.3s ease;
  font-family: "Poppins", serif;
  font-size: 14px;
}
.chat-input-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding:0 8px ;
}
.input-textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
}

.input-actions {
  display: flex;
  align-items: center;
}

.language-selector {
  padding: 4px;
  border-radius: 4px;
  background-color: #191919;
  color: #fff;
  outline: none;
  border: 1px solid #191919;
}
.light-mode .language-selector{
  background-color: #000;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.action-button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.7;
}



.fa-paper-plane {
  font-size: 25px;
}

.chat-input-container button:hover {
  background-color: #191919;
}
