.chat-input-container {
  display: flex;
  gap: 8px;
}

.chat-input-container textarea {
  flex: 1;
  resize: none;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #1f201f;
  background-color: #191919;
  color: #fff;

  outline: none;
  transition: border-color 0.3s ease;
  font-family: "Poppins", serif;
  font-size: 14px;
}
.chat-input-container textarea:focus {
  border-color: #373636;
  box-shadow: 0 0 4px rgba(71, 70, 70, 100);
}

.chat-input-container button {
  padding: 8px 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.fa-paper-plane {
  font-size: 35px;
}

.chat-input-container button:hover {
  background-color: #191919;
}
