.chat-output-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .chat-message {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 8px;
    line-height: 1.4;
    word-wrap: break-word;
  }
  
  .chat-message.user {
    align-self: flex-end;
    background-color: #14b414;
    color: white;
  }
  
  .chat-message.bot {
    align-self: flex-start;
    background-color: #191919;
    color: #fff;
  }
  .message.info {
    color: green;
    font-style: italic;
  }
  
  .message.error {
    color: red;
    font-weight: bold;
  }
  .detected-language {
    color: #fff;
    font-style: italic;
    font-size: 0.85em;
    margin-top: 4px;
  }
  
  
  
  .summary-label {
    font-style: italic;
    color: gray;
    margin-top: 5px;
  }
  