.chat-output-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .chat-message {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 8px;
    line-height: 1.4;
    word-wrap: break-word;
  }
  
  .chat-message.user {
    align-self: flex-end;
    background-color: #14b414;
    color: white;
  }
  
  .chat-message.bot {
    align-self: flex-start;
    background-color: #191919;
    color: #fff;
  }
  .light-mode .chat-message.bot{
    background-color: #b8b4b4;
    color: #000;
  }
  .light-mode .chat-message.user{
    background-color: #2cde2c;
    color: #000;
  }
  .message.info {
    color: green;
    font-style: italic;
  }
  
  .message.error {
    color: red;
    font-weight: bold;
  }
  .detected-language {
    color: #fff;
    font-style: italic;
    font-size: 0.85em;
    margin-top: 4px;
  }
  .light-mode .detected-language{
    color: #000;

  }
  
  
  
  .summary-label {
    font-style: italic;
    color: gray;
    margin-top: 5px;
  }
  
  .summarize-btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;
  }
  .light-mode .summarize-btn{
    background-color: #545353;
    color: #000;
  }

  .summarize-btn:disabled{
    background-color: gray;
  cursor: not-allowed;
  opacity: 0.7;
  }
  
  .summarize-btn:hover {
    background-color: #191919;
  }
  .light-mode .summarize-btn:hover{
    
    background-color: #8d8c8c;
  }
  